.inner-container {
    display: flex;
    position: relative;
    .upp-button{
        padding: 7px 9px;
    }
    .hamburger {
        position: absolute;
        z-index: 10;
        padding: 5px 5px;
        .button-icon {
            font-size: 24px;
            margin-right: 0px;
        }
        &.open {
            top: 10px;
            left: 150px;
        }

        &.closed {
            left: -10px;
        }
    }
@media (max-width: 600px) {
    .upp-button{
        padding: 3px 3px;
    }
    .hamburger{
            position: absolute;
            top: 10px;
            z-index: 10;
            padding: 0px 0px;
            .button-icon {
                font-size: 24px;
                margin-right: 0px;
            }
            &.open {
                top: 10px;
                left: 100px;
            }
    
            &.closed {
                left: -10px;
            }
    }
}
}
