.custom-button {
    display: inline-block;
    background-color: #2c3e50;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;

    .button-icon {
        margin-right: 5px;
        font-size: 24px;
    }

    &:hover {
        background-color: green;
    }
    .scroll-to-top-button{
        display: inline-block;
        background-color: #2c3e50;
        padding: 20px 20px;
        margin: 10px;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s ease;

    }
    &.hamburger {
        position: absolute;
        width: 31px;
        height: 32px;
        right: 585px;
        top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        background-color: #2c3e50;
        padding: 5px;
        box-sizing: border-box;
        
        .button-icon {
            font-size: 24px;
            color: white;
        }

        &.open {
            .button-icon {
                color: white;
            }
        }

        &.closed {
            color: white;
            top: 15px;
            left: -11px;
        }
    }
}
@media (max-width: 600px) {
    .custom-button {
        display: inline-block;
        background-color: #2c3e50;
        border-radius: 5px;
        padding: 10px 20px;
        margin: 10px;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s ease;
        
    }
    .button-icon {
        font-size: 24px;
        color: white;
    }

    &.open {
        .button-icon {
            color: white;
        }
    }

    &.closed {
        color: white;
        top: 15px;
        left: 0px;
    }
}